<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> chilll </h1>
	<form method="POST">
		<p>enter break fast</p>
		<label>latitude: </label>
		<input type="text" name="lat">
		<label>lognitude: </label>
		<input type="text" name="lng">
		<button type="sumbit">sumbit</button>
	</form>
</body>
</html>