<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Find me</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkF79ZjAqDLcOgv10ghmPSozj9WMRkXkM&callback=initMap"
    async defer></script></head>

<body>

<div id="doc">
  <h1>location</h1>

  
  <div id="geo-wrapper"></div>
  <p id="msg"></p>
  <p id="lat"></p>
  <p id="long"></p>
  
</div>

<script type="text/javascript">
function supports_geolocation() {
  return !!navigator.geolocation;
}

function get_location() {
  if ( supports_geolocation() ) {
    navigator.geolocation.getCurrentPosition(show_map, handle_error);
  } else {
    // no native support;
  $("#msg").text('Your browser doesn\'t support geolocation!');
  }
}

function show_map(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  // let's show a map or do something interesting!
  
  $("#geo-wrapper").css({'width':'1000px','height':'480px'});
  
  var latlng = new google.maps.LatLng( <%= lat %>, <%= lng %>);
  var myOptions = {
    zoom: 10,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("geo-wrapper"), myOptions);
  
  var marker = new google.maps.Marker({
    position: latlng,
    title:"You are here (more or less)!"
  });
  
  // To add the marker to the map, call setMap();
  marker.setMap(map);
  
  $("#lat").text('Latitude: ' + <%= lat %>);
  $("#long").text('Longitude: ' + <%= lng %>);
}

function handle_error(err) {
  if (err.code == 1) {
    // user said no!
  $("#msg").text('You chose not to share your location.');
  }
}

get_location();
</script>
<a href="/">back</a>
</body>
</html>
